RUNNING = false
MEMORY = false
CPU = true
CPU_STATIC = true
CPU_START =  20
CPU_INTERV_STATIC = 10
CPU_INTERV_MIN = 240
CPU_INTERV_MAX = 1024
CPU_ALLOC_STATIC = 10
CPU_ALLOC_MIN = 1
CPU_ALLOC_MAX = 15
MEM_STATIC = false
MEM_ALLOC_STATIC = 1024
MEM_INTERV_STATIC = 10
MEM_INTERV_MIN = 1
MEM_INTERV_MAX = 5
MEM_ALLOC_MIN = 1
MEM_ALLOC_MAX = 1024
